:root {
    --primary-color: #2485c9;
    --light-pc: #9ecef0;
    --black: black;
    --white: white;
    --border-color: darkgray;
    --placeholder: #818397;
    --a-color: #2485c9;
    --green: #85e35f;
}
@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: #9ecef0;
        --light-pc: #2485c9;
        --black: white;
        --white: #1f1f1f;
        --border-color: lightgray;
        --placeholder: #c7c7c7;
        --a-color: #9ecef0;
        --green: #24630a;
    }
}

#shopa {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.counter {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.control {
    border: none;
    border-radius: 0;
    cursor: pointer;
    font-size: 25px;
    padding: 5px;
}
.controlo {
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}
button {padding: 10px;}
p, button, span {font-size: 17px;}
.price, #order-successful button, #cart-saved button {font-size: 21px;}
.item {display: block;}
input[type="text"], input[type="number"], input[type="email"], input[type="date"], .rlabel, form > button {
    display: block;
    font-size: 17px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    background: transparent;
    cursor: pointer;
    border: 1px solid var(--black);
    border-radius: 2px;
    margin: 0;
    margin-bottom: 10px;
}
#checkouts {
    display: block;
    width: fit-content;
    margin: 0 auto;
}
form {margin: 0 10px; width: calc(100% - 20px);}
.confirm {
    padding: 10px;
    right: 60px;
    width: max-content;
}
#confirmClear, #confirmOrder {padding: 10px;}
@media (min-width: 768px) {
    #shopa {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    .item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0;
    }
    #checkouts {
        display: inline-block;
        position: absolute;
        left: 10px;
        top: 0;
    }
    form {margin: 0 auto; width: 100%;}
}
@media (min-width: 1024px) {
    #shopa {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }
    .control {font-size: 20px; padding: 3px;}
    .counter {font-size: 25px;}
    .controlo {padding: 0px;}
    p, button, span {font-size: 15px;}
    .price, #order-successful button, #cart-saved button {font-size: larger;}
    button {padding: 5px;}
    .item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0;
    }
    input[type="text"], input[type="number"], input[type="email"], input[type="date"], .rlabel, form button {font-size: 15px; padding: 3px;}
    .confirm {
        padding: 5px;
        right: -200px;
    }
    #confirmClear, #confirmOrder {padding: 5px;}
}
img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    border-radius: 3px;
}
.item {
    margin: 10px;
    border: 1px solid var(--black);
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in;
    box-sizing: border-box;
}
.price {
    font-style: italic;
}
.value {
    display: flex;
    flex-direction: row;
    border: 1px solid var(--black);
    border-radius: 2px;
    width: fit-content;
}
h1, h2 {
    font-family: "Trebuchet MS", system-ui, sans-serif;
    text-decoration: underline;
    text-align: center;
}
p, button, img, td, th, input[type="text"], input[type="number"], input[type="email"], input[type="date"], input::placeholder, label, span, div {font-family: "Verdana", system-ui, sans-serif;}
@layer low-priority {
    p, button, img, td, th, input[type="text"], input[type="number"], input[type="email"], input[type="date"], label, span, h1, h2, div {color: var(--black);}
}
.counter, .countero {
    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    padding: 0px 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Verdana", system-ui, sans-serif;
    background: var(--light-pc);
    width: 2ch;
    align-self: stretch;
}
* {z-index: 1;}
header {
    background: #2485c9;
    color: white;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    padding-top: 5px;
    position: fixed;
    top: 0;
    z-index: 10;
}
.item:hover {transform: scale(101%);}
nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: #9ecef0;
    width: 100%;
    margin: 0;
    padding: 0;
}
nav button {
    all: unset;
    text-align: center;
    font-family: "Verdana", system-ui, sans-serif;
    font-size: 15px;
    cursor: pointer;
    margin: 0;
    padding: 10px;
    color: black;
    font-weight: bold;
}
nav button.select {background: #2485c9; color: white;}
.add-to-cart {
    width: 100%;
    margin-top: 10px;
    box-sizing: border-box;
}
button {
    background: transparent;
    cursor: pointer;
    border: 1px solid var(--black);
    border-radius: 2px;
}
div.item-child {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -20px;
}
 #cartcontent tr:nth-child(even) {
    background: var(--light-pc);
}
#cart-content-container {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
a {
    text-decoration: underline;
    color: var(--a-color);
    cursor: pointer;
}
tfoot, thead {text-align: left;}
tfoot {border-top: 1px solid var(--black);}
form {
    border: 1px solid var(--black);
    border-radius: 3px;
    padding: 10px;
    max-width: 748px;
    box-sizing: border-box;
    background: var(--light-pc);
}
input {margin-bottom: 10px;}
.error {
    color: red;
    text-align: center;
    margin-bottom: 0;
}
#form-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 0;
    margin: 0;
    width: 100%;
    
}
.control {background: transparent;}
.countero {font-size: 20px;}
.controlo {
    border: none;
    border-radius: 0;
    cursor: pointer;
    font-size: 20px;
    background: var(--white);
}
input[type="date"]::-webkit-datetime-edit, input::placeholder {
    color: var(--placeholder);
    font-style: italic;
}
input[type="date"].has-date::-webkit-datetime-edit {
    color: var(--black);
    font-style: normal;
}
input[type="date"]::-webkit-calendar-picker-indicator {cursor: pointer;}
input[type="radio"] {display: none;}
label:has(input[type="radio"]:checked) {
    background: var(--primary-color);
    color: var(--white);
}
input[type="number"] {-moz-appearance: textfield;}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#order-successful, #cart-saved {
    display: none;
    background: var(--green);
    border-radius: 3px;
    padding: 10px;
    position: relative;
    transition: opacity 0.5s ease;
}
#order-successful button, #cart-saved button {
    border: none;
    background: transparent;
    position: absolute;
    right: 10px;
    top: 5px;
    padding: 0;
}
#order-successful span, #cart-saved span {display: block; width: 95%;}
#spacer {
    height: calc(312.18px - 10.08vw);
     /* I'm so bad at math, the above was made using AI */
    min-height: 150px;
    max-height: 300px;
}
body {background: var(--white); margin: 0; padding: 0;}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px var(--light-pc) inset;
    -webkit-text-fill-color: var(--black);
}
.confirm {
    position: absolute;
    top: 1.5px;
    border: 1px solid var(--black);
    border-radius: 2px;
    background: var(--white);
}
.confirm button, #confirmClear button, #confirmOrder button {border: none; padding: 0;}
.confirm button:hover, #confirmClear button:hover, #confirmOrder button:hover {text-decoration: underline;}
#confirmClear {
    margin-top: 10px;
    border: 1px solid var(--black);
    border-radius: 2px;
    background: var(--white);
}
#confirmOrder {
    border: 1px solid var(--black);
    border-radius: 2px;
    background: transparent;
    margin-top: 10px;
    display: flex;
    gap: 7px;
    justify-content: center;
}
#confirmOrder * {width: fit-contents;}
#confirmOrder span {
    display: block;
    height: 100%;
    display: flex;
    justify-content: center;
}
body > div {
    padding: 10px;
    box-sizing: border-box;
}

[hidden] {display: none !important;}
