:root {
    --primary-color: #2485c9;
    --light-pc: #9ecef0;
}

#shopa {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.counter {font-size: 30px;}
.control {
    all: unset;
    cursor: pointer;
    font-size: 30px;
}
button {padding: 10px;}
p, button {font-size: 17px;}
.price {font-size: 21px;}
.item {display: block;}
input[type="text"], input[type="number"], input[type="email"], input[type="date"], .rlabel, form button {
    display: block;
    font-size: 17px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box !important;
    background: white;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 2px;
    margin: 0;
    margin-bottom: 10px;
}
#checkouts {
    display: block;
    width: fit-content;
    margin: 0 auto;
}
@media (min-width: 768px) {
    #shopa {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    .item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0;
    }
    #checkouts {
        display: inline-block;
        position: absolute;
        left: 10px;
        top: 0;
    }
}
@media (min-width: 1024px) {
    #shopa {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }
    .counter {font-size: 20px;}
    .control {
        all: unset;
        cursor: pointer;
        font-size: 20px;
    }
    p, button {font-size: 15px;}
    .price {font-size: larger;}
    button {padding: 5px;}
    .item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0;
    }
    input[type="text"], input[type="number"], input[type="email"], input[type="date"], .rlabel, form button {font-size: 15px; padding: 3px;}
}
img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    border-radius: 3px;
}
.item {
    margin: 10px;
    border: 1px solid black;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in;
    box-sizing: border-box;
}
.price {
    font-style: italic;
}
.value {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 2px;
    width: fit-content;
}
h1, h2 {
    font-family: "Trebuchet MS", system-ui, sans-serif;
    text-decoration: underline;
    text-align: center;
}
p, button, img, td, th, input[type="text"], input[type="number"], input[type="email"], input[type="date"], input::placeholder, label {font-family: "Verdana", system-ui, sans-serif;}
@layer low-priority {
    p, button, img, td, th, input[type="text"], input[type="number"], input[type="email"], input[type="date"], label {color: black;}
}
.counter, .countero {
    border-right: 1px solid darkgray;
    border-left: 1px solid darkgray;
    padding: 0px 5px;
    text-align: center;
    font-family: "Verdana", system-ui, sans-serif;
    background: var(--light-pc);
    width: 2ch;
}
* {z-index: 1;}
header {
    background: var(--primary-color);
    color: white;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    padding-top: 5px;
    position: fixed;
    top: 0;
    z-index: 10;
}
.item:hover {transform: scale(101%);}
nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: var(--light-pc);
    width: 100%;
    margin: 0;
    padding: 0;
}
nav button {
    all: unset;
    text-align: center;
    font-family: "Verdana", system-ui, sans-serif; font-size: 15px;
    cursor: pointer;
    margin: 0;
    padding: 10px;
    color: black;
    font-weight: bold;
}
nav button.select {background: var(--primary-color); color: white;}
.add-to-cart {
    width: 100%;
    margin-top: 10px;
    box-sizing: border-box;
}
button {
    background: white;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 2px;
}
div.item-child {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -20px;
}
 #cartcontent tr:nth-child(even) {
    background: var(--light-pc);
}
#cart-content-container {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
a {
    text-decoration: underline;
    color: var(--primary-color);
    cursor: pointer;
}
tfoot, thead {text-align: left;}
tfoot {border-top: 1px solid black;}
form {
    border: 1px solid black;
    border-radius: 3px;
    padding: 10px;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    margin: 0 auto;
    background: var(--light-pc);
}
input {margin-bottom: 10px;}
.error {
    color: red;
    text-align: center;
    margin-bottom: 0;
}
#form-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 0;
    margin: 0;
    width: 100%;
    
}
.control {background: white;}
.countero {font-size: 20px;}
.controlo {
    all: unset;
    cursor: pointer;
    font-size: 20px;
    background: white;
}
input[type="date"]::-webkit-datetime-edit, input::placeholder {
    color: #818397 !important;
    font-style: italic;
}
input[type="date"].has-date::-webkit-datetime-edit {
    color: black;
    font-style: normal;
}
input[type="date"]::-webkit-calendar-picker-indicator {cursor: pointer;}
input[type="radio"] {display: none;}
label:has(input[type="radio"]:checked) {
    background: var(--primary-color);
    color: white;
}
input[type="number"] {-moz-appearance: textfield;}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#order-successful {
    display: none;
    background: var(--light-pc);
    border-radius: 3px;
    margin: 0px 10px 10px 10px;
    padding: 5px 10px 10px 10px;
    position: relative;
    transition: opacity 0.5s ease;
}
#order-successful p {color: var(--primary-color)}
#order-successful button {
    border: none;
    background: transparent;
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 0;
    color: var(--primary-color);
    font-size: larger;
}
#spacer {
    height: calc(312.18px - 10.08vw);
    min-height: 150px;
    max-height: 300px;
}

[hidden] {display: none !important;}
